@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Serif", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body
{
    background-color: #d6d6bf;
}

.header
{
background-color: #ebb667;
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 15px;
}

.header .navlinks li
{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    font-size: large;
}

.header .navlinks a
{
    text-decoration: none;
    color: black;
}
.header .navlinks li:hover
{
transform: scale(1.1);
}
h1,h2
{
    text-align: center;
}

img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#largas
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}



#portafolio:hover
{
    color: rgb(16, 192, 119);
}